h1, h2, h3, h4, p, a{
    color:red;
}

.contenedor{
    display: flex;

    flex-direction: row;
    flex-wrap:wrap;

    justify-content: space-around;
    align-items: center;
}

div.cuadrado{
    border: 1px solid black;
    width: 100px;
    height: 100px;
}

div.rectangulo{
    border: 1px solid black;
    width: 100px;
    height: 200px;
}

div.cuadrado h3{
    background-color: teal;
}

div.cuadrado h3:hover{
    background-color: red;
}

div.cuadrado.amarillo{
    border: 1px solid rgb(116, 89, 8);
    border-radius: 50% 0 0 0;
}

